@font-face {
  font-family: "aquire-bold";
  src: url(./assets/fonts/Aquire-Bold.otf);
}
@font-face {
  font-family: "aquire";
  src: url(./assets/fonts/Aquire.otf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}
:root {
  --cell-size: 6vmin;
  --border-width: 1px;
  --usermapcolour: 0, 74, 140;
  --scannercolour: 0, 86, 163;
  --enemymapcolour: 255, 165, 0;
  color: white;
  font-size: 1.6vh;
}

img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body {
  min-height: 100%;
  width: 100vw;
  background-image: url("./assets/battleship.jpg");
  background-size: cover;
}

.header {
  height: 10vh;
  font-family: "aquire-bold", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 10vmin;
  color: black;
  animation: fadeIn 1s forwards;
}

dialog.instructions[open] {
  display: flex;
  flex-direction: column;
  font-family: "aquire";
  width: 70%;
  align-items: start;
}

.instructions h1 {
  font-size: 3rem;
  align-self: center;
  color: white;
}

.instructions div {
  color: white;
  font-size: 1.5rem;
  line-height: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.instructions .strategy,
.instructions .continue {
  align-self: center;
}

.instructions .continue {
  font-family: "Montserrat", sans-serif;
  padding: 0.7rem;
  border-radius: 1rem;
  border: 2px solid white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.instructions .continue:hover {
  color: black;
  background-color: white;
}

.maindiv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  position: relative;
}

.playernames {
  background-color: rgb(44, 44, 44);
  opacity: 0.95;
  font-family: "aquire";
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  border-radius: 1rem;
  gap: 1rem;
  margin: auto 0;
  animation: fadeIn forwards 1s;
}

.playernames input {
  font-family: "Montserrat";
  font-size: 1.6rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.75rem;
  border: none;
  outline: none;
  align-self: stretch;
}

.confirmname {
  display: flex;
  font-family: "Montserrat";
  font-size: 1.6rem;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: green;
  transition: all 0.2s ease-in-out;
}

.confirmname:hover {
  cursor: pointer;
  transform: scale(1.07);
}

.playernames img {
  width: 2rem;
}

.gamemode {
  display: flex;
  flex-direction: column;
  font-family: "aquire";
  font-size: 2rem;
  background-color: rgb(44, 44, 44);
  opacity: 0.95;
  border-radius: 1rem;
  padding: 1rem;
  gap: 1rem;
  animation: fadeIn 1s forwards;
}

.gamemode .infotext {
  align-self: center;
}

.gamechoice {
  display: flex;
  gap: 2rem;
}

.ai,
.pvp {
  border: 2px solid white;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  transition: all 0.3s ease-in-out;
}

.ai:hover,
.pvp:hover {
  background-color: white;
  color: black;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.gamechoice .maintext {
  font-size: 3rem;
}

.gamechoice .subtext {
  font-size: 1.5rem;
}

.battlePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: min-content;
  position: relative;
  z-index: 1;
}

.attackres {
  background-color: rgb(27, 27, 27);
  align-self: stretch;
  display: flex;
  justify-content: center;
  font-family: "aquire", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem;
  border-radius: 1rem;
}

.boards {
  display: flex;
  gap: 50px;
}

.passdevice {
  align-self: stretch;
  padding: 1rem;
  background-color: rgb(27, 27, 27);
  border-radius: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  text-align: center;
}

.player {
  background-color: rgb(27, 27, 27);
  padding: 2rem;
  padding-top: 3rem;
  border-radius: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.player1 {
  color: #87ceeb;
}

.player2 {
  color: #ffa500;
}

.player.setup {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto 1fr;
  gap: 1rem;
}

.setup .title {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.setup .playername {
  font-family: "aquire";
}

.setup .fleet {
  grid-row: 2 / span 2;
  grid-column: 2 / span 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.setup .board {
  background: radial-gradient(
    rgba(var(--usermapcolour), 0.07),
    rgba(var(--usermapcolour), 0.6)
  );
  position: relative;
}

.orientation,
.confirm {
  border-radius: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.orientation {
  background-color: white;
  width: 100%;
  padding: 1rem;
  gap: 1rem;
  color: black;
  justify-content: center;
  justify-content: center;
}

.confirm img,
.orientation img,
.reset img,
.randomize img {
  width: 2rem;
}

.randomize img {
  width: 2rem;
}

.shipdiv {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
  border-radius: 1rem;
  outline: 2px solid white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.fleet .shipimg {
  height: var(--cell-size);
  user-select: none;
  -webkit-user-drag: none;
}

.boardInfo {
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
  display: grid;
  grid-template-columns: var(--cell-size) repeat(10, var(--cell-size));
  grid-template-rows: var(--cell-size) repeat(10, var(--cell-size));
  place-content: start;
}

.columnnames {
  grid-column: 2 / span 10;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  align-items: center;
}

.rownames {
  grid-column: 1 / 2;
  grid-row: 2 / span 10;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  align-items: center;
}

.board {
  grid-column: 2 / span 10;
  grid-row: 2 / span 10;
  display: grid;
  grid-template-columns: subgrid;
  position: relative;
  align-self: flex-start;
  border-collapse: collapse;
  outline: calc(var(--border-width) * 2) solid white;
}

.boardInfo > div > div {
  text-align: center;
}

.player1 .board {
  background: radial-gradient(
    rgba(var(--usermapcolour), 0.07),
    rgba(var(--usermapcolour), 0.6)
  );
}

.player2 .board {
  background: radial-gradient(
    rgba(var(--enemymapcolour), 0.07),
    rgba(var(--enemymapcolour), 0.6)
  );
  position: relative;
  justify-content: start;
}

.boards .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boards .title .playername {
  font-family: "aquire";
}

@keyframes scanning {
  100% {
    transform: rotate(360deg);
  }
}

.radar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: calc(var(--cell-size) * 10);
  height: calc(var(--cell-size) * 10);
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
}

.scanner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(var(--cell-size) * 5 * 1.5);
  height: calc(var(--cell-size) * 5 * 1.5);
  background-image: linear-gradient(
    to top right,
    rgba(var(--scannercolour), 1) 0%,
    rgba(0, 0, 0, 0) 50%
  );
  transform-origin: top left;
  animation: scanning 6s infinite linear;
  position: relative;
  z-index: 0;
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-collapse: collapse;
  cursor: pointer;
  border-bottom: var(--border-width) solid white;
  border-right: var(--border-width) solid white;
}

.setup .cell {
  z-index: 2;
}

.cell:nth-child(1 + 10n) {
  border-right: none;
}

.cell:nth-child(n + 92) {
  border-bottom: none;
}

.dragover {
  background-color: green;
}

.invalid {
  background-color: red;
}

@keyframes opacitykf {
  0% {
    opacity: 0.9;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: initial;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes removekf {
  0% {
    opacity: initial;
  }
  100% {
    opacity: 0;
  }
}

.board .shipimg {
  position: relative;
  align-self: stretch;
  z-index: 2;
  height: var(--cell-size);
  animation: opacitykf 4s infinite;
}

.hit {
  position: absolute;
  z-index: 4;
  width: calc(0.6 * var(--cell-size));
}

.buttons {
  grid-column: 1 / span 2;
  grid-row: 4 / span 1;
  display: flex;
  gap: 1rem;
  justify-content: end;
}

.confirm,
.reset,
.randomize {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: green;
  border-radius: 1rem;
  opacity: 1;
  font-weight: 600;
  font-size: 1.25rem;
  transition: all 0.2s ease-in-out;
}

.confirm:hover,
.reset:hover,
.randomize:hover {
  cursor: pointer;
  transform: scale(1.08);
}

.reset {
  background-color: #ed2939;
}

.randomize {
  background-color: #00bcd4;
}

dialog[open] {
  align-self: center;
  margin: 0 auto;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  border-radius: 1rem;
  outline: none;
  border: none;
  background-color: rgb(27, 27, 27);
  opacity: 0.8;
  color: #17ace7;
  animation: fadeIn forwards 1s;
}

dialog[open].remove {
  animation: removekf 1s forwards;
}

dialog.defeat {
  color: #ed2939;
}

dialog .maintext {
  font-family: "aquire-bold";
  font-size: 3.2rem;
}

dialog .subtext {
  font-family: "aquire";
  font-size: 2rem;
  align-self: center;
  text-align: center;
}
dialog .restart {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: green;
  border-radius: 1rem;
  padding: 1rem;
  color: white;
  width: max-content;
  align-self: center;
  font-size: 1.5rem;
  transition: all 0.18s ease-in-out;
}

dialog .restart:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.remove {
  animation: removekf forwards 1s;
}

.overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn forwards 0.4s;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 1);
  z-index: 10;
}

.overlay.hidden {
  display: none; /* Hide the overlay when not needed */
}

.overlay-content {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 4px 100px rgba(0, 0, 0, 0.9);
}

.overlay .maintext {
  font-family: "aquire";
  color: white;
  font-size: 4rem;
}

.overlay .subtext {
  font-family: "aquire";
  color: white;
  font-size: 2rem;
}

.changeplayer {
  border-radius: 1rem;
  border: 2px solid white;
  padding: 1rem;
  font-family: "Montserrat";
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.changeplayer:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

@media (max-width:590px){
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    background-position: center;
  }

  html{
    min-height: 100%;
  }

  .maindiv{
    height: 100%;
  }
  :root{
    --cell-size: 7vw;
  }
  .player.setup{
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto 1fr;
    gap: 1rem;
    max-width: 95vw;
    padding: 2vh 1vh;
  }

  .setup .fleet {
    grid-row: 4 / span 1;
    grid-column: 1 / span 1;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    width: 75vw;
    place-self: center;
  }

  .shipdiv {
    width: calc(var(--cell-size)*5);
  }

  .fleet .shipimg{
    height: calc(var(--cell-size)*0.7);
  }

  .setup .buttons{
    grid-row: 5 / span 1;
    justify-content: center;
    width: max-content;
    place-self: center;
  }

  .setup .boardInfo{
    place-content: center;
    max-width: max-content;
    place-self: center;
  }

  .setup .title{
    font-size: 6vw;
  }

  .orientation{
    width: calc(var(--cell-size)*5);
    gap: 2vw;
  }

  .playername, .title{
    width: max-content;
  }

  .battlePage{
    gap: 1vh;
  }

  .battlePage .boards{
    flex-direction:column;
    gap: 1vh;

  }
  .setup .buttons>*, .shipdiv, .orientation{
    font-size: 3vw;
  }

  .setup .buttons img, .orientation>img{
    width: 7vw;
  }

  .player{
    max-width: min-content;
    padding: 4vw;
  }

  .attackres{
    font-size: 4vw;
    text-align: center;
  }
  .boards .title{
    flex-direction: column;
    align-items: start;
    font-size: 2.5vw;
  }

  dialog .maintext{
    font-size: 8vw;
    text-align: center;
  }

  dialog .subtext{
    font-size: 6vw;
  }

  dialog .restart{
    font-size: 4vw;
  }

  .header{
    display: flex;
    align-items: end;
    font-size: 15vw;
  }

  .gamemode .infotext{
    text-align: center;
  }

  .gamechoice{
    flex-direction: column;
    text-align: center;
  }

  .playernames{
    padding: 3vw 3vw;
    font-size: 6vw;
  }

  .playernames input, .confirmname{
    font-size: 5vw;
  }
}